{% extends 'base.html' %} {% block content %} {% load static %}

<div class="parent d-flex">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="card">
        <img src="{% static 'images/download.jpg' %}" alt="Image" />
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">Piano</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>

            <button
              type="button"
              class="btn btn-primary"
              style="margin-left: 35%"
            >
              Primary
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img
          src="{% static 'images/guitar.png' %}"
          alt="Image"
          style="width: 37%; margin: auto"
        />
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>

            <button
              type="button"
              class="btn btn-primary"
              style="margin-left: 35%; padding-bottom: 8px"
            >
              Primary
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img
          src="{% static 'images/drums.jpg' %}"
          alt="Image"
          style="width: 230px; margin: auto"
        />
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>

            <button
              type="button"
              class="btn btn-primary"
              style="margin-left: 35%; padding-bottom: 8px"
            >
              Primary
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img
          src="{% static 'images/violen.jpg' %}"
          alt="Image"
          style="width: 100%"
        />
        <div class="card-body" style="padding: 0">
          <div class="card-body">
            <h5 class="card-title">Violen</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>

            <button
              type="button"
              class="btn btn-primary"
              style="margin-left: 35%; padding-bottom: 8px"
            >
              Primary
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img src="{% static 'images/siter.jpg' %}" alt="Image" />
        <div class="card-body" style="padding-bottom: 39PX;">
          <div class="card-body">
            <h5 class="card-title">Siter</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>

            <button
              type="button"
              class="btn btn-primary"
              style="margin-left: 35%; padding-bottom: 8px"
            >
              Primary
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4">
      <div class="card">
        <img
          src="{% static 'images/tambourine.png' %}"
          alt="Image"
          style="width: 46%; margin: auto"
        />
        <div class="card-body"  style="padding-bottom: 39PX;">
          <div class="card-body">
            <h5 class="card-title">Tambourine</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>

            <button
              type="button"
              class="btn btn-primary"
              style="margin-left: 35%; padding-bottom: 8px"
            >
              Primary
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
