{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-6 m-auto " style="padding-top: 20%;">
        <div>
          <h2>Delete Category</h2>
          <p>Are you sure you want to delete the Category?</p>
          <form method="post" action="{% url 'delete_category' category.id %}">
          {% csrf_token%}
          <button type="submit" class="btn btn-danger">Delete</button>
          <a href="{% url 'add_category' %}" class="btn btn-secondary">Cancel</a>
          </form>

        </div>
      </div>
    </div>
</div>
{% endblock %}
